.country__container{
    padding: 2rem 2.5rem;
    background-color: var(--VeryLightGray);
    min-height: calc(100vh - 50px);
}
.country__btn{
    display: flex;
    align-items: center;
    padding: .4rem 1.5rem;
    column-gap: .4rem;
    border: none;
    margin: .5rem 0 2.5rem 0;

    font-family: inherit;
    font-weight: 600;
    

    box-shadow: 0 0 1em rgba(0, 0, 0, .2 );
    border-radius: 3px;
}
.country__btn_border{
    border: none;
    padding: .2rem 1rem;
    margin:.2rem ;

    font-family: inherit;
    font-weight: 600;

    color:inherit;
    box-shadow: 0 0 1em rgba(0, 0, 0, .2 );
    border-radius: 3px;
    cursor: pointer;

}
.bold{
    font-weight: 800;
    color: var(--strong-header);
}

.country__content{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2.5rem;

}
.cursor{
    cursor: pointer;
}
.imgFlag{
    width: 100%;
    object-fit: cover;
    max-height: 350px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .3 );
}
.details__name{
    font-size: 2rem;
    margin: 16px 0;
}
.imgFlag__container{
    padding: 0;
    margin: 0;
}
.details div ul{
    list-style: none;
}
.details__container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    padding-right: 1rem;
}
.details__container ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
}
.border__container{
    margin: 16px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.borders__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5px;

}
.borders__container > *{

    margin: 0 5px;
    cursor: pointer;
    
}
.btnborder{

    border: none;
    padding: .2rem 1rem;
    margin:.2rem ;

    font-family: inherit;
    font-weight: 600;

    box-shadow: 0 0 1em rgba(0, 0, 0, .3 );
    border-radius: 3px;

}
@media screen and (max-width:650px) {
    .country__content{

        grid-template-columns: 1fr;
    }
    .details__container {
        grid-template-columns: 1fr;
        padding-right: 0;
    }
}